{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "worker": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "strict": 1,
    "curly": [2, "multi-line"],
    "dot-notation": [2, {"allowKeywords": true, "allowPattern": ""}]
  }
}
